.nav {
  align-items: center;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}
.link:not(:last-child) {
  margin-right: 40px;
}
.link:hover,
.link:hover {
  color: #bd0595;
}
@media screen and (min-device-width: 320px) and (max-device-width: 479px) {
  .link {
    font-size: 15px;
  }
  .link:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
  .link {
    font-size: 18px;
  }
}
